<p>Pick 3 movies </p>

<form asp-controller="Home" asp-action="MovieNightForm" method="POST">

    <label for="">Search by Title</label>
    <input type="string" name="Title1" Id="Title1">
    <button type="submit">SEARCH</button>
</form>

<form asp-controller="Home" asp-action="MovieNightForm" method="POST">

    <label for="">Search by Title</label>
    <input type="string" name="Title2" Id="Title2">
    <button type="submit">SEARCH</button>
</form>

<form asp-controller="Home" asp-action="MovieNightForm" method="POST">

    <label for="">Search by Title</label>
    <input type="string" name="Title3" Id="Title3">
    <button type="submit">SEARCH</button>
</form>